body{
	min-height: 100hv;
	background: #180415;
	line-height:20px;
    padding: 20px;
    box-sizing: border-box;
    position: relative;
}
*{
	margin:0;
	padding:0;
	font-size: 12px;
}
ul{
	list-style:none;
}
.hide{
    display: none;
}
.lf{
	float: left;
}
.lr{
	float: right;
}
.red, .red a,.red a h5, .red a p{
    color:#FF0000 !important;
}
a {
    text-decoration: none;
    color: inherit;
}
.mr2 {
	margin-right: 1rem;
}
.ml2 {
	margin-left: 1rem;
}

header {
    color: #fff;
    display: flex;
    align-items: center;
	justify-content: space-between;
    /* position: sticky; */
    /* top: 0; */

}
header .header_left {
	color: #f40;
}
header img {
    width: 3vw;
    border-radius: 30%;
}
header b {
    font-size: 1vw;
    margin-left: 1vw;
}

.main-group{
	position: relative;
	/* min-height:100vh; */
	align-items: center;
	margin: 0 auto;
	box-sizing: border-box;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	padding:40px 0;
}

.main-group .item-group{
	position: relative;
	box-sizing: border-box;
	width:calc(33.3% - 60px);
	height:400px;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 40px 30px;
}
.main-group .item-group::before{
	content: "";
	position: absolute;
	/* left:50px; */
	top:0;
	width:50%;
	height: 100%;
	background-color: #fff;
	border-radius: 8px;
	transform: skewX(15deg);
	transition: 0.5s;
}
.main-group .item-group::after{
	content: "";
	position: absolute;
	/* left:50px; */
	top:0;
	width:50%;
	height: 100%;
	background-color: #fff;
	border-radius: 8px;
	transform: skewX(15deg);
	filter:blur(30px) ;
	transition: 0.5s;
}
.main-group .item-group:hover:before,
.main-group .item-group:hover:after{
	transform: skewX(0deg);
	/* left:20px; */
	width:calc(100% - 90px);
}

.main-group .item-group:nth-child(1):before,
.main-group .item-group:nth-child(1):after{
	background: linear-gradient(315deg, #d3b04f, #f04e87);
}
.main-group .item-group:nth-child(2):before,
.main-group .item-group:nth-child(2):after{
	background: linear-gradient(315deg, #0084ff, #eeff00);
}
.main-group .item-group:nth-child(3):before,
.main-group .item-group:nth-child(3):after{
	background: linear-gradient(315deg, #3cff00, #1100ff);
}


.main-group .item-group span{
	display: block;
	top:0;
	left: 0;
	right: 0;
	bottom: 0;
	pointer-events: none;
	z-index: 20;
}

@keyframes animation{
	0%{
		transform: translateY(10px);
	}
	50%{
		transform: translateY(-10px);
	}
}
.main-group .item-group span::before{
	content: "";
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	border-radius: 8px;
	background: rgba(255, 255, 255, 0.1);
	opacity: 0;
	transition: 0.5s;
	animation: animation 2s ease-in-out infinite;
}
.main-group .item-group:hover span::before{
	top:-50px;
	left: 50px;
	width: 100px;
	height: 100px;
	opacity: 1;
}

.main-group .item-group span::after{
	content: "";
	position: absolute;
	right: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
	border-radius: 8px;
	background: rgba(255, 255, 255, 0.1);
	opacity: 0;
	transition: 0.5s;
	animation: animation 2s ease-in-out infinite;
}
.main-group .item-group:hover span::after{
	bottom:-50px;
	right: 50px;
	width: 100px;
	height: 100px;
	opacity: 1;
}
main {
	/* position: absolute; */
	display: flex;
	margin-top: 60px;
}
main >div {
	flex: 1;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
}

.main_left {

}

main h2 {
	text-align: center;
	font-size: 3vw;
	color: #fff;
	margin-bottom: 50px;
}

main ul li {
	list-style: none;
	color: #fff;
	/* font-weight: bold; */
	text-align: center;
	font-size: 1.3vw;
	margin-bottom: 20px;
	/* line-height: 2; */
	
}

.main-group .item-group .content{
	z-index: 1;
	position: absolute;
	left:0;
	color: #fff;
	padding: 30px 20px;
	background: rgba(255, 255, 255, 0.05);
	border-radius: 8px;
	box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
	backdrop-filter: blur(10px);
	transition: 0.5s;
    text-align: center;
    margin: 10px 0;
}

.main-group .item-group:hover .content{
	left:-25px;
	padding:40px 30px;
}

.main-group .item-group .content .title{
	font-size:2em;
	font-weight: bold;
	margin-bottom: 30px;
}
.main-group .item-group .content .desc span {
	font-size: 1.2rem;
	line-height: 2;
	transition: all .3s;
}
.main-group .item-group .content .desc{
	margin-bottom: 10px;
	line-height: 20px;
	text-overflow: -o-ellipsis-lastline;
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 11;
	line-clamp: 11;
	-webkit-box-orient: vertical;
    font-size: 1vw;
    line-height: 1.5;
    text-align: left;

}

.main-group .item-group .content .desc:hover span {
	font-size: 1.5rem;
}


.main-group .item-group .content .button-group{
	color: #000;
	background: #fff;
	padding: 15px 30px;
	border-radius: 4px;
	font-weight: bold;
    margin-top: 10px;
}

@media screen and (max-width:850px){
	.main-group .item-group{
		width:calc(50% - 60px);	
	}
	
}

@media screen and (max-width:640px){
	.main-group .item-group{
		width:calc(100% - 60px);	
	}
	
}